<%- include('layouts/html_start.ejs') %>

<%- include('layouts/layout.ejs') %>

<section class="section">
    <div class="section-header">
        <h1>Home</h1>
    </div>

    <div class="section-body">
        <div class="card">
            <div class="card-header">
              <h4>Quick Guide</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-4">
                  <ul class="nav nav-pills flex-column" id="myTab4" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab4" data-toggle="tab" href="#home4" role="tab" aria-controls="home" aria-selected="true">Add Books</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#profile4" role="tab" aria-controls="profile" aria-selected="false">Update Books</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab4" data-toggle="tab" href="#contact4" role="tab" aria-controls="contact" aria-selected="false">View Books</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab5" data-toggle="tab" href="#contact5" role="tab" aria-controls="contact" aria-selected="false">Return Books</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab6" data-toggle="tab" href="#contact6" role="tab" aria-controls="contact" aria-selected="false">Remove Books</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-8">
                  <div class="tab-content no-padding" id="myTab2Content">
                    <div class="tab-pane fade" id="home4" role="tabpanel" aria-labelledby="home-tab4">
                        You can create a book record by entering the book's title, selecting a department,<br>
                        enter the total quantity of books on-hand and all the authors that worked on the book.
                    </div>
                    <div class="tab-pane fade" id="profile4" role="tabpanel" aria-labelledby="profile-tab4">
                        You can choose to update the books, for this you will go the<br>
                        Update Books page where you can see all the books. Select the book<br>
                        you want to update.<br>
                        After you have selected the book, you will be taken to Update Book Info page where <br>
                        you can edit or change the information to your need.
                    </div>
                    <div class="tab-pane fade" id="contact4" role="tabpanel" aria-labelledby="contact-tab4">
                        You can view all books in the system by going to the View Books page. There you can <br>
                        search your required book using the search fields available. You can also issue books<br>
                        from the "Issue" button at the end of the book field.
                    </div>
                    <div class="tab-pane fade" id="contact5" role="tabpanel" aria-labelledby="contact-tab5">
                        Issued books can be returned by going to the Return Book page. You can get a list of <br>
                        the issued books along with their details.<br>
                        You can simply return books that were issued from this page using the "Return" button.
                    </div>
                    <div class="tab-pane fade" id="contact6" role="tabpanel" aria-labelledby="contact-tab6">
                        If, for whatever reason you need to remove a certain book from the<br>
                        system, you can visit the Remove Books page where you will be shown a list<br>
                        of all the books present and can select which book to remove. When a book<br>
                        is removed all issue entries for that book will also be removed.
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>

<%- include('layouts/scripts.ejs') %>


<%- include('./layouts/html_end.ejs') %>