<%- include('layouts/html_start.ejs') %>

<%- include('layouts/layout.ejs') %>

<section class="section">
    <div class="section-header">
        <h1>Home</h1>
    </div>

    <div class="section-body">

    </div>
</section>

<%- include('layouts/scripts.ejs') %>


<%- include('./layouts/html_end.ejs') %>